body {
	/* background: linear-gradient(to right, #a9a9a9, #606060); */
	background: radial-gradient(circle at center, #e8e9ef, #af9a8b);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	color: #755f56;
	font-family: 'Times New Roman', Times, serif;
	font-weight: 400;
    gap: 10px;
}

header p{
	word-spacing: 2px;
	letter-spacing: 7px;
	font-size: 30px;
}

header, footer {
	background-color: #e8e9ef;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

a {
    text-decoration: none;
}

.button {
    font-size: 25px;
    background-color: #755f56;
    box-sizing: border-box;
    border-radius: 10%;
    color: #e8e9ef;
    border: none;
    font-family: 'Times New Roman', Times, serif;
}

.button:hover {
    transform: scale(1.1); /* Enlarges the container by 10% */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); /* Simulates lifting off the screen */
}

.display-container {
	max-width: 200px;
	gap: 50px;
	margin: auto;
}

:root {
	--button_color: rgb(199, 199, 199);
	--button_hover_color: rgb(171, 171, 171);
}

.game {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	margin: 70px;
	gap: 100px;
}

.board {
	max-width: 450px;
	max-height: 450px;
	align-items: center;
	display: grid;
	grid-template-columns: repeat(9, 1fr);
	margin: auto;
}

.cell {
	align-items: center;
	justify-content: center;
	display: flex;
	width: 50px;
	height: 50px;
	padding: 25px;
	border: 2px solid black;
	cursor: pointer;
	background-color: var(--button_color);
}

.number-pad {
	max-width: 150px;
	max-height: 200px;
	display: grid;
	align-items: center;
	grid-template-columns: repeat(3, 1fr);
	justify-content: center;
}

.number-pad-cell {
	align-items: center;
	justify-content: center;
	display: flex;
	width: 50px;
	height: 50px;
	border: 2px solid black;
	cursor: pointer;
	background-color: var(--button_color);
}

.number-pad-cell:hover {
	background-color: var(--button_hover_color);
}

.game {
	display: flex;
	align-items: center;
	justify-content: center;
}

.cell:hover {
	background-color: var(--button_hover_color);
}

